.uk-badge {
  box-sizing: border-box;
  min-width: 18px;
  height: 18px;
  padding: 12px 20px;
  border-radius: 0px;
  vertical-align: middle;
  background: #2983a8;
  color: #fff !important;
  font-size: 11px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  &-aktualnosci {
    background: $aktualnosci-color;
    color: #fff;
  }
  &-o-grojcu {
    background: $o-grojcu-color;
  }
  &-sport {
    background: $sport-color;
  }
  &-po-godzinach {
    background: $po-godzinach-color;
  }
  &-w-obiektywie {
    background: $w-obiektywie-color;
  }
  &-tv-grojec24 {
    background: $tv-grojec24-color;
  }
  &-praca {
    background: $praca-color;
  }
  &-alarm24 {
    background: $alarm24-color;
  }
  &-redakcja {
    background: $redakcja-color;
  }
  &-reklama {
    background: $reklama-color;
  }
}
