[data-uk-icon="facebook"] svg {
  color: #1877f2;
}
[data-uk-icon="youtube"] svg {
  color: #ff0000;
}

[data-uk-icon="instagram"] svg {
  color: #c32aa3;
}

[data-uk-icon="twitter"] svg {
  color: #1da1f2;
}
