$aktualnosci-color: #f0506e;
$o-grojcu-color: #ff9800;
$sport-color: #4cb050;
$po-godzinach-color: #ff4011;
$w-obiektywie-color: #6441a5;
$tv-grojec24-color: #d4000e;
$praca-color: #64666c;
$ogloszenia-color: #56423d;
$reklama-color: #007b00;
$redakcja-color: #00bdd3;
$alarm24-color: #ff4d59;
$active-link:#bb000c;
