.logo {
  transition: all 0.5s;
  transform: scale(0.8);
}

.uk-sticky-fixed {
  .logo {
    transition: all 0.5s;
    transform: scale(0.6);
    margin: 0 auto;
  }
}

.uk-navbar-subtitle {
  font-size: 0.875em;
}
.main-navbar {
  background-color: $tv-grojec24-color;
  .uk-navbar-nav > li > a {
    color: #fff;
    font-size: 0.75rem;
    padding: 0 10px;
    &:hover {
      background-color: $active-link;
    }
  }
  .uk-navbar-nav > li.uk-active > a {
    color: #fff;
    background-color: $active-link;
  }
  @media (min-width: 960px) {
    .uk-navbar-nav {
      gap: 0;
    }
  }
}
